<h5 class="card-title">Morse code</h5>
<div class="row " style="margin-top: 20px;">
    <div class="col-6">
        <table class="table table-hover table-striped table-light">
            <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Code</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><b>A</b></td>
                <td>.-</td>
            </tr>
            <tr>
                <td><b>B</b></td>
                <td>-...</td>
            </tr>
            <tr>
                <td><b>C</b></td>
                <td>-.-.</td>
            </tr>
            <tr>
                <td><b>D</b></td>
                <td>-..</td>
            </tr>
            <tr>
                <td><b>E</b></td>
                <td>.</td>
            </tr>
            <tr>
                <td><b>F</b></td>
                <td>..-.</td>
            </tr>
            <tr>
                <td><b>G</b></td>
                <td>--.</td>
            </tr>
            <tr>
                <td><b>H</b></td>
                <td>....</td>
            </tr>
            <tr>
                <td><b>I</b></td>
                <td>..</td>
            </tr>
            <tr>
                <td><b>J</b></td>
                <td>.---</td>
            </tr>
            <tr>
                <td><b>K</b></td>
                <td>-.-</td>
            </tr>
            <tr>
                <td><b>L</b></td>
                <td>.-..</td>
            </tr>
            <tr>
                <td><b>M</b></td>
                <td>--</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <table class="table table-hover table-striped table-light">
            <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Code</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><b>N</b></td>
                <td>-.</td>
            </tr>
            <tr>
                <td><b>O</b></td>
                <td>---</td>
            </tr>
            <tr>
                <td><b>P</b></td>
                <td>.--.</td>
            </tr>
            <tr>
                <td><b>Q</b></td>
                <td>--.-</td>
            </tr>
            <tr>
                <td><b>R</b></td>
                <td>.-.</td>
            </tr>
            <tr>
                <td><b>S</b></td>
                <td>...</td>
            </tr>
            <tr>
                <td><b>T</b></td>
                <td>-</td>
            </tr>
            <tr>
                <td><b>U</b></td>
                <td>..-</td>
            </tr>
            <tr>
                <td><b>V</b></td>
                <td>...-</td>
            </tr>
            <tr>
                <td><b>W</b></td>
                <td>.--</td>
            </tr>
            <tr>
                <td><b>X</b></td>
                <td>-..-</td>
            </tr>
            <tr>
                <td><b>Y</b></td>
                <td>-.--</td>
            </tr>
            <tr>
                <td><b>Z</b></td>
                <td>--..</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>