<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body class="bg-body-secondary">
<div class="container text-light">
    {% include "navbar.html" %}
    <div class="container col-md-10 d-flex flex-row gap-3 justify-content-between justify-content-center">
        <div class="card shadow-lg rounded-end rounded-5 border-light bg-body-secondary" style="width: 28rem;">

            <div class="card-body text-center">
                <img src="https://koshka.top/uploads/posts/2021-12/1639387906_2-koshka-top-p-izobrazhenie-kotenka-2.jpg"
                     class="rounded-circle mx-auto" style="width: 12rem; height: 12rem;" alt="...">
            </div>

            <div class="card-body text-center">
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                     aria-valuemin="0"
                     aria-valuemax="100" style="border: 2px solid;">
                    <div class="progress-bar" style="width: 75%">75%</div>
                </div>
            </div>

            <div class="card-body text-center">
                <h5 class="card-title">User Profile</h5>
                <p class="card-text">first_name last_name</p>
                <ul class="list-group list-group-flush">
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="inputGroupFile04"
                               aria-describedby="inputGroupFileAddon04" aria-label="Download">
                        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Save
                        </button>
                    </div>
                    <div class="input-group flex-nowrap mb-3">
                        <span class="input-group-text" id="addon-wrapping">@</span>
                        <input type="text" class="form-control" placeholder="Input UserName"
                               aria-label="Имя пользователя" aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group flex-nowrap mb-3">
                        <span class="input-group-text" id="addon-wrapping">Email</span>
                        <input type="text" class="form-control" placeholder="Input Email"
                               aria-label="Имя пользователя" aria-describedby="addon-wrapping">
                    </div>
                </ul>
                <div class="card-body text-center">
                    <a href="#" class="btn btn-primary">Save</a>
                </div>
            </div>
        </div>
        <div class="card shadow-sm rounded-start rounded-5 border-light shadow-lg bg-body-secondary" style="width: 45rem;">
            <div class="card-body text-center">
                <h5 class="card-title">Morse code</h5>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-6">
                        <table class="table table-hover table-striped table-light">
                            <thead>
                            <tr>
                                <th scope="col">Symbol</th>
                                <th scope="col">Code</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><b>A</b></td>
                                <td>.-</td>
                            </tr>
                            <tr>
                                <td><b>B</b></td>
                                <td>-...</td>
                            </tr>
                            <tr>
                                <td><b>C</b></td>
                                <td>-.-.</td>
                            </tr>
                            <tr>
                                <td><b>D</b></td>
                                <td>-..</td>
                            </tr>
                            <tr>
                                <td><b>E</b></td>
                                <td>.</td>
                            </tr>
                            <tr>
                                <td><b>F</b></td>
                                <td>..-.</td>
                            </tr>
                            <tr>
                                <td><b>G</b></td>
                                <td>--.</td>
                            </tr>
                            <tr>
                                <td><b>H</b></td>
                                <td>....</td>
                            </tr>
                            <tr>
                                <td><b>I</b></td>
                                <td>..</td>
                            </tr>
                            <tr>
                                <td><b>J</b></td>
                                <td>.---</td>
                            </tr>
                            <tr>
                                <td><b>K</b></td>
                                <td>-.-</td>
                            </tr>
                            <tr>
                                <td><b>L</b></td>
                                <td>.-..</td>
                            </tr>
                            <tr>
                                <td><b>M</b></td>
                                <td>--</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-6">
                        <table class="table table-hover table-striped table-light">
                            <thead>
                            <tr>
                                <th scope="col">Symbol</th>
                                <th scope="col">Code</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><b>N</b></td>
                                <td>-.</td>
                            </tr>
                            <tr>
                                <td><b>O</b></td>
                                <td>---</td>
                            </tr>
                            <tr>
                                <td><b>P</b></td>
                                <td>.--.</td>
                            </tr>
                            <tr>
                                <td><b>Q</b></td>
                                <td>--.-</td>
                            </tr>
                            <tr>
                                <td><b>R</b></td>
                                <td>.-.</td>
                            </tr>
                            <tr>
                                <td><b>S</b></td>
                                <td>...</td>
                            </tr>
                            <tr>
                                <td><b>T</b></td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td><b>U</b></td>
                                <td>..-</td>
                            </tr>
                            <tr>
                                <td><b>V</b></td>
                                <td>...-</td>
                            </tr>
                            <tr>
                                <td><b>W</b></td>
                                <td>.--</td>
                            </tr>
                            <tr>
                                <td><b>X</b></td>
                                <td>-..-</td>
                            </tr>
                            <tr>
                                <td><b>Y</b></td>
                                <td>-.--</td>
                            </tr>
                            <tr>
                                <td><b>Z</b></td>
                                <td>--..</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "footer.html" %}
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>